@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.noUi-target.noUi-horizontal {
  height: 10px;
  border: 1px solid #ddd !important;
  box-shadow: none;
  margin-top: 5px;
  background: #fff;
  width: 100%;

}

.noUi-connect {
  background: #000000 !important;
}

.noUi-horizontal .noUi-handle {
  width: 15px !important;
  height: 15px !important;
  left: -12px;
  top: -4px !important;
  background: #000000;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: none;
  border-radius: 36px;
  position: absolute;
  z-index: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-handle::after {
  content: "";
  display: none !important;
  
}
.noUi-handle::before {
  content: "";
  display: none !important;
  
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -1px !important;
  left: auto;
}

.span {
  display: block;
  width: 1px;
  height: 20px;
  background: #fff;
  position: absolute;
  z-index: 4;
  top: -7px;
}

input{
  width: 80px !important;
  padding-left: 5px;
}


.modal {
  transition: 0.9s ease-out;
}



.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;

  text-align: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card .flip-card-inner {
  
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 
 
 
  backface-visibility: hidden;
}
/* 
.flip-card-front {
  background-color: #bbb;
  color: black;
} */

.flip-card-back {
  position: absolute;
  background-color: #ebebeb;
  transform: rotateY(180deg);
  top: 0px;
  text-align: left;
  padding: 15px;
  width: 100%;
  height: 100%;
 
}

 
.fa-arrow-right-long:last-child{
  display: none;
}
.com:last-child .fa-arrow-right-long {
  display: none;
}