@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

/* div,span{
  background-color: rgb(230, 112, 131, 0.3);
} */



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.noUi-target.noUi-horizontal {
  height: 10px;
  border: 1px solid #ddd !important;
  box-shadow: none;
  margin-top: 5px;
  background: #fff;
  width: 100%;

}

.noUi-connect {
  background: #000000 !important;
}

.noUi-horizontal .noUi-handle {
  width: 15px !important;
  height: 15px !important;
  left: -12px;
  top: -4px !important;
  background: #000000;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: none;
  border-radius: 36px;
  position: absolute;


  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base{
  z-index: unset !important;
}

.noUi-origin{
  transform: translate(-10%, 0px);
  z-index: 200 !important;
}

.noUi-handle::after {
  content: "";
  display: none !important;
  
}
.noUi-handle::before {
  content: "";
  display: none !important;
  
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle-lower {
 
  right: -12px !important;
  left: -1px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle-upper {

  right: -1px !important;
  left: -1px;
}

.span {
  display: block;
  width: 1px;
  height: 20px;
  background: #fff;
  position: absolute;
  z-index: 4;
  top: -7px;
}

input{
  width: 80px !important;
  padding-left: 5px;
}


.modal {
  transition: 0.9s ease-out;
}



.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;

  text-align: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card .flip-card-inner {
  
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 
 
 
  backface-visibility: hidden;
}
/* 
.flip-card-front {
  background-color: #bbb;
  color: black;
} */

.flip-card-back {
  position: absolute;
  background-color: #ebebeb;
  transform: rotateY(180deg);
  top: 0px;
  text-align: left;
  padding: 15px;
  width: 100%;
  height: 100%;
 
}

.bb:first-child > .pp> .left-long> .fa-arrow-left-long{
  display: none;
}

.bb:last-child > .pp> .right-long> .fa-arrow-right-long{
  display: none;
}

.animation1{
  position: relative;
  animation: mymove 1s ;
  background: rgb(253, 252, 252,0.8);
}

@keyframes mymove {
  from {right: 0px;}
  to {right: 191px;}
}

.animation2{
  position: relative;
  animation: mymov 1s ;
  background: rgb(255, 255, 255,0.8);
}

@keyframes mymov {
  from {left: 0px;}
  to {left: 191px;}
}

/* .bb{
  min-width: 20% !important;
} */

.box{
  box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}

/* body{
  height: 100%;
  position: relative;
} */

.boxmobile{
  box-shadow: rgb(11 11 11 / 25%) 0px -10px 20px 0px !important;
}

@media only screen and (min-width: 400px) {
  .boxmobile{
    box-shadow:none !important;
  }

  

}

